<div class="resume_card">
	<div class="resume_header d-flex align-middle">
		<img src="<%= asset_path 'work-icon.svg' %>" class="img-fluid">
		<p class="mb-0">Education</p>
		<% if current_user.id == @user.id %>
			<span class="ml-auto">+ Add more educations</span>
		<% end %>
	</div>

	<div class="resume_content px-0 d-flex">
		<div class="horizontal_divider">
			
		</div>
		<div class="experience_container container">
			<div class="bullet">

			</div>
			<div class="d-flex">
				<p class="color-primary experience_header mb-0">vsd</p>
				<span class="ml-auto d-flex">
					<img src="<%= asset_path 'calendar-icon.svg' %>" class="img-fluid">
					<p class="mb-0 align-self-center px-3">Oct 2019 - Oct 2019</p>
					<% if current_user.id == @user.id %>
						<img src="<%= asset_path 'edit-icon.svg' %>" class="img-fluid ml-auto" >
					<% end %>
				</span>
			</div>
			<div class="d-flex py-3">
				<img src="<%= asset_path 'institute-icon.svg' %>" class="img-fluid">
				<p class="mb-0 px-2 ">sdvsdvsdv</p>
				<img src="<%= asset_path 'location-icon.svg' %>" class="img-fluid" >
				<p class="mb-0 px-2">dscsdcsdcasd</p>
			</div>
			<div>
				<p class="grey">dscsdcsdcasd</p>
			</div>

			<%= render partial: 'projects' %>
		</div>
	</div>
	
</div>