<div class="container-fluid py-5">
	<div class="row">
		<div class="col-12 col-md-3">
			<%= render partial: 'profile_picture' %>
			<%= render partial: 'highlights' %>
		</div>
		<div class="col-12 col-md-9">
			<%= render partial: 'profile_info' %>
			<%= render partial: 'experience' %>
			<%= render partial: 'education' %>
			<%= render partial: 'certifications' %>
			<%= render partial: 'awards' %>
		</div>
	</div>
</div>